<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
<body class='bg-dark'>

    <div class="container">
        <div class="row mt-3">
            <h1 class="text-center text-light">Welcome to the React Cart API</h1>
        </div>
        <div class="row">
            <h4 class="text-center text-light">By: Brian Stanton</h4>
        </div>
        <div class="row">
            <p class="text-light">Using the API I created, create a react shopping cart. The Shopping Cart should include the following:
                
                <div class="list-group">
                    <a target="_blank" href="https://docs.google.com/document/d/1opFkVt3enUzaINeiCjKa2a9gZluicHrl-_qlHTapS3o/edit#bookmark=id.7zt20vhmneo6" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Register</h5>
                            <small>Register</small>
                        </div>
                        <p class="mb-1">&#10004;Users should be able to sign up using their first name, last name, username, email, and password</p>
                        <p class="mb-1">&#10004;User will then be redirected to home page</p>
                    </a>

                    <a target="_blank" href="https://docs.google.com/document/d/1opFkVt3enUzaINeiCjKa2a9gZluicHrl-_qlHTapS3o/edit#bookmark=id.er3zdycq7hqc" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Login</h5>
                            <small>Login</small>
                        </div>
                        <p class="mb-1">&#10004;Users should be able to login with username and password</p>
                        <p class="mb-1">&#10004;The response will be a token that lasts for 1 hour</p>
                    </a>
                
                    <a target="_blank" href="https://docs.google.com/document/d/1opFkVt3enUzaINeiCjKa2a9gZluicHrl-_qlHTapS3o/edit#bookmark=id.er3zdycq7hqc" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Account Information</h5>
                            <small>Account Information</small>
                        </div>
                        <p class="mb-1">&#10004;Users should be able to review their own account information</p>
                        <p class="mb-1">&#10004;Users should also be able to update their own information</p>
                    </a>

                    <a target="_blank" href="https://docs.google.com/document/d/1opFkVt3enUzaINeiCjKa2a9gZluicHrl-_qlHTapS3o/edit#bookmark=id.4wadud5awfmo" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">View Products</h5>
                            <small>View Products</small>
                        </div>
                        <p class="mb-1">&#10004;Users should be able to view all of the products on a page</p>
                        <p class="mb-1">&#10004;User should be able to click on a product to get more info or add the product to their cart</p>
                    </a>
                        
                    <a target="_blank" href="https://docs.google.com/document/d/1opFkVt3enUzaINeiCjKa2a9gZluicHrl-_qlHTapS3o/edit#bookmark=id.c94e9h4brqy6" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">View Product</h5>
                            <small>View Product</small>
                        </div>
                        <p class="mb-1">&#10004;Users should be able to view a single product and get all of the information about it</p>
                        <p class="mb-1">&#10004;Users should be able to add the product to their cart from this page</p>
                    </a>

                    <a target="_blank" href="https://docs.google.com/document/d/1opFkVt3enUzaINeiCjKa2a9gZluicHrl-_qlHTapS3o/edit#bookmark=id.6b115h6fj85c" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">View Cart</h5>
                            <small>View Cart</small>
                        </div>
                        <p class="mb-1">&#10004;Users should be able to view all of the current products in their cart</p>
                        <p class="mb-1">&#10004;Users should be able to remove a product from their cart</p>
                    </a>

                </p>      
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>